asgiref==3.12.1
beautifulsoup4==4.15.0
certifi==2026.6.17
charset-normalizer==3.4.9
Django==4.2.30
django-cors-headers==4.9.0
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.18
packaging==26.2
psycopg2-binary==2.9.12
pymupdf==1.28.0
requests==2.34.2
soupsieve==2.8.4
sqlparse==0.5.5
typing_extensions==4.16.0
urllib3==2.7.0
